@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}
body{
	background-color: #202c37;
}
.lightHeader{
	background-color: #fff !important;
	color: #000 !important;
}
.lightBorderCountry{
	background-color: #fafafa !important;
}
.lightBackButton{
	background-color: #fff !important;
	color: #000 !important;
}
.lightModalText{
	color: #000 !important;
}
.lightBody{
	background-color: #fafafa;
}
.lightSearch, .lightSelect{
	background-color: #fff !important;
	color: #000 !important;
}
.lightCountry{
	background-color: #fff !important;
}
.lightModalH2{
	color: #000 !important;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 50px;
	color: #fafafa;
	font-weight: 600;
	background-color: #2b3945;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px;/**/
}
.header-left{
	font-size: 1.8rem;
}
.header-right{
	cursor: pointer;
	font-size: 0.9rem;
}
.seekable-area{
	padding: 50px 40px 70px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.seekable-area-left input{
	padding: 18px 300px 18px 20px;
	border-radius: 7px;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px;
	outline: none;
	border: none;
	font-size: 0.9rem;
	background-color: #2b3945;
	color: #fafafa;
}
.seekable-area-right{
	width: 215px;
	border-radius: 7px;
}
.seekable-area-right select{
	width: 100%;
	padding: 18px 10px 18px 10px;
	border-radius: 7px;
	background-color: #2b3945;
	color: #fafafa;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px;
	outline: none;
	border: none;
}
::-webkit-input-placeholder {
   color: #d0d3d5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d0d3d5;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d0d3d5;  
}

:-ms-input-placeholder {  
   color: #d0d3d5;  
}
.country-list{
	width: 960px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.country{
	width: 265px;
	background-color: #2b3945;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 14px;
	margin-right: 55px;
	margin-bottom: 80px;
	cursor: pointer;
	transition: box-shadow ease-in 0.4s;
}
.country:hover{
	box-shadow: rgb(0 0 0 / 80%) 0px 10px 20px;/*deslocamento x, y, blur-radius, blur-spread*/
}
.country-wrapper{
	display: none;
}
.country-img{
	margin-bottom: 25px;
	height: 177px;
}
.country-img img{
	width: 100%;
	height: 100%;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
.country-details{
	padding-left: 20px;
	color: #fafafa;
}
.lightCountryDetails{
	color: #000 !important;
}
.country-details h3{
	padding-bottom: 20px;
}
.country-details p{
	padding-bottom: 25px;
}
.loadingBar{
	display: none;
	color: red;
	font-size: 1.7rem;
	font-weight: bold;
	text-align: center;
}
.modal{
	display: none;
	margin: 70px 0 0 70px;
	padding-bottom: 90px;
}
.back-button{
	width: 135px;
	padding: 10px 50px;
	background-color: #2b3945;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 14px;
	border-radius: 5px;
	color: #fafafa;
	cursor: pointer;
	margin-bottom: 70px;
}
.back-button:hover{
	box-shadow: rgb(0 0 0 / 80%) 0px 10px 20px;
}
.modal-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-image{
	width: 620px;
	height: 442px;
}
.modal-image img{
	width: 100%;
	height: 100%;
}
.text-first-group{
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
.modal-text{
	width: 50%;
	color: #fafafa;
	margin-left: 50px;
}
.first{
	margin-right: 50px;
}
.first h3{
	margin-bottom: 10px;
}
.first p{
	margin-bottom: 10px;
	font-weight: 200;
}
.second p{
	margin-bottom: 10px;
	font-weight: 200;
}
.first span, .second span{
	color: #b8bcbf;
}
.text-second-group{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 200;
}
.border-country{
	padding: 5px;
	background-color: #202c37;
	border: 2px solid #1d2837;
	cursor: pointer;
	margin-right: 5px;
	border-radius: 5px;
}
.border-country:hover{
	border: 3px solid #1d2837;
}
.border-country--wrapper{
	display: none;
}

/*TABLET VERSION 768px*/
@media(min-width: 768px) and (max-width: 1023px){
	.country-list{
		width: 100%;
	}
	.seekable-area-left input {
    	padding: 18px 268px 18px 20px;
}
.modal-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.text-first-group {
    align-items: flex-start;
    margin-bottom: 30px;
    flex-direction: column;
}
}
/*END OF TABLET VERSION 768px*/

/*MOBILE VERSION 425px*/
@media(min-width: 425px) and (max-width: 767px){
	.country-list{
		width: 100%;
	}
	.seekable-area {
	    flex-direction: column;
}
.seekable-area-left input {
    	padding: 18px 186px 18px 20px;
    	margin-bottom: 40px;
}
.country{
	width: 82%;
	margin-right: 0;
	margin-bottom: 50px;
}
.header-left {
    font-size: 1.3rem;
}
.header {
    padding: 0 16px;
}
.modal-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.text-first-group {
    align-items: flex-start;
    margin-bottom: 30px;
    flex-direction: column;
}
.modal {
    margin: 70px 0 0 22px;
}
.modal-image {
    width: 386px;
    height: 239px;
    margin-bottom: 10px;
}
.back-button {
    margin-bottom: 20px;
}
}
/*END OF MOBILE VERSION 425px*/
/*MOBILE VERSION 375px*/
@media(min-width: 375px) and (max-width: 424px){
	.country-list{
		width: 100%;
	}
	.seekable-area {
	    flex-direction: column;
}
.seekable-area-left input {
    	padding: 18px 142px 18px 20px;
    	margin-bottom: 40px;
}
.country{
	width: 82%;
	margin-right: 0;
	margin-bottom: 50px;
}
.header-left {
    font-size: 1.3rem;
}
.header {
    padding: 0 16px;
}
.modal-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.text-first-group {
    align-items: flex-start;
    margin-bottom: 30px;
    flex-direction: column;
}
.modal {
    margin: 70px 0 0 22px;
}
.modal-image {
    width: 329px;
    height: 239px;
    margin-bottom: 10px;
}
.back-button {
    margin-bottom: 20px;
}
}
/*END OF MOBILE VERSION 375px*/
/*MOBILE VERSION 320px*/
@media(max-width: 320px){
	.country-list{
		width: 100%;
	}
	.seekable-area {
	    flex-direction: column;
}
.seekable-area-left input {
    	padding: 18px 99px 18px 20px;
    	margin-bottom: 40px;
}
.country{
	width: 82%;
	margin-right: 0;
	margin-bottom: 50px;
}
.header-left {
    font-size: 1.1rem;
}
.header {
    padding: 0 14px;
}
.modal-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.text-first-group {
    align-items: flex-start;
    margin-bottom: 30px;
    flex-direction: column;
}
.modal {
    margin: 70px 0 0 22px;
}
.modal-image {
    width: 280px;
    height: 200px;
    margin-bottom: 10px;
}
.back-button {
    margin-bottom: 20px;
}
}
/*END OF MOBILE VERSION 320px*/